*{
    box-sizing:border-box;
    text-align: center;
    font-family: "Arial" "Helvetica Neue" "Helvetica" "sans serif";
    line-height:20px;
}

body {
  font-size: 18px;
  background: #777;
  color:#777;
  width: 960px;
 
}

header{
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: green;
}

nav{
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: blue;

}

#full{
    background: #ebebeb;
    color: #777;
    padding 20px;
    width: 55%;
    height:180px;
    float:left;
    position: relative;
    margin:0;
    top:0;
    left:0;
}

section{
    color: #ebebeb;
    background: #777;
    position: absolute;
    height:150px;
    width:310px;
    left:120px;
}

aside{
    background: #ebebeb;
    color:#777;
    width:40%;
    padding:20px;
    height:180px;
    float:right;
    overflow:auto;
}
  
#subhead1{
    background:pink;
    color: #777;
    float:left;
    z-index:3;

}

#subhead2{
    background: #ebebeb;
    color: #777;
    z-index:3;
    top:5%;
}

footer{
    background: #ebebeb;
    color:#777;
    padding:20px;
    clear: both;
    display:block;
    overflow: auto;
}






